<div class="container">
  <div class="mt-4 row">
    <div class="container text-center">
      <h1>我的商品管理</h1>
      <%= link_to "新增商品", new_account_product_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="mt-4 row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">圖片</th>
            <th scope="col">標題</th>
            <th scope="col">敘述</th>
            <th scope="col">價格</th>
            <th scope="col">人氣</th>
            <th scope="col">功能</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= image_tag(product.attachments.first.image.thumb.url, class: "mini-img") if product.attachments.present? %></td>
            <td><%= product.title %></td>
            <td><%= render_product_description(product) %></td>
            <td><%= product.price %> 元</td>
            <td><%= product.impressions_count %></td>
            <td><%= link_to "編輯", edit_account_product_path(product) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <%= will_paginate @products %>
  </div>
</div>
