<ul>
  <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
    <%= render partial: "messages/message", collection: @messages, as: :message %>
  </div>
</ul>

<%= simple_form_for @chat_room.messages.new, url: '#' do |f| %>
  <div class="field">
    <%= f.text_area :context, placeholder: "Your message" %>
  </div>

  <%= f.submit "Send" %>
<% end %>
