<div class="row">
  <div class="col-md-12">
    <div class="mt-4 mb-4 card">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <%= render_user_avatar(@user) %>
        <p>Facebook: <%= @user.facebook_url %></p>
        <%= render_user_line_button(@user) %>
        <p>Shopee: <%= @user.shopee_url %></p>

        <%= link_to "編輯個人資料", edit_account_user_path if @user == current_user %>
      </div>
    </div>

    <div class="mt-4 mb-4 card">
      <div class="card-body">
        <h5 class="card-title">刊登的「出售」記錄</h5>
        <%= render partial: "product_records", locals: { products: @sell_products } %>
      </div>
    </div>

    <div class="mt-4 mb-4 card">
      <div class="card-body">
        <h5 class="card-title">刊登的「收購」記錄</h5>
        <%= render partial: "product_records", locals: { products: @buy_products } %>
      </div>
    </div>

    <div class="mt-4 mb-4 card">
      <div class="card-body">
        <h5 class="card-title">刊登的「交流」記錄</h5>
        <%= render partial: "product_records", locals: { products: @exchange_products } %>
      </div>
    </div>
  </div>
</div>
