<div class="mt-4 mb-4 container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <%= simple_form_for [:account, @user] do |f| %>
        <div class="form-group">
          <div class="image-block-circle">
            <div class="gradient"></div>
            <div class="image-block">
                <i class="material-icons">&#xE853;</i>
                <%= render_user_avatar(@user) %>
                <img class="preview">
            </div>
          </div>
        </div>

        <%= f.input :avatar, label: false %>

        <%= f.input :name %>

        <div class="form-group">
          <%= f.input :facebook_url, as: :url, wrapper: false %>
          <small class="form-text text-muted">請至 <a href="https://www.facebook.com">Facebook</a> 個人頁面，並填入整串網址。例如：<span class="text-danger">https://www.facebook.com/xxxxxxxxxxx</span></small>
        </div>

        <div class="form-group">
          <%= f.input :line_url, wrapper: false %>
          <small class="form-text text-muted">請填入整串網址。例如：<span class="text-danger">https://line.me/xxxxxxxxxxx</span>
            （設定 → 個人資料 → 顯示行動條碼 → 分享 → 拷貝）</small>
        </div>

        <div class="form-group">
          <%= f.input :shopee_url, wrapper: false %>
          <small class="form-text text-muted">請登入 <a href="https://shopee.tw/">蝦皮官網</a> 右上角會顯示你的帳號。填入整串網址例如：<span class="text-danger">https://shopee.tw/xxxxxxxxxxx</span></small>
        </div>

        <%= f.submit "更新資料", class: "btn btn-success", id: "user-update" %>
      <% end %>

    </div>
  </div>
</div>

<script>
$(function (){
  function preview(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
          $('.preview').addClass('uploaded');
          $('.preview').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("body").on("change", ".file", function (){
      preview(this);
  })
})
</script>
