<div class="mt-4 mb-4 row">
  <% if @product.attachments.present? %>
    <div class="col-md-6 mb-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @product.attachments.each_with_index do |attachment, index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @product.attachments.each_with_index do |attachment, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <%= image_tag(attachment.image.medium.url, class: "d-block w-100 product-image")%>
              </div>
            <% end %>
          </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  <% end %>

  <div class="col-md-6">

    <div class="product-description card mb-3">
      <div class="card-header">
        商品資訊
      </div>
      <div class="card-body">
        <%= render_product_type_badge(@product) %>
        <h2 class="d-inline-block"><%= @product.title %></h2>
        <div class="moto-category-container">
          <i class="fa fa-motorcycle"></i>
          <% @product.categories.each do |category| %>
            <div class="moto-category">
              <%= category.name %>
            </div>
          <% end %>
        </div>
        <hr>

        <ul>
          <li>
            <span class="text-muted">刊登日期： <%= @product.created_at.to_s(:ymd) %></span>
          </li>
          <li>
            <span class="text-muted">點閱次數：<%= @product.impressions_count %> 次</span>
          </li>
          <li>
            <span class="text-muted">賣家資訊: <%= link_to(@product.user.name, user_path(@product.user)) %></span>
          </li>
        </ul>

        <hr>

        <%= simple_format @product.description %>
      </div>
    </div>

    <div class="pull-right">
      <p class="lead">售價：<%= @product.price %> 元</p>
        <button type="button" class="btn btn-light btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy="<%= request.original_url %>" title="複製到剪貼簿">複製網址</button>
      <% if !@product.owner?(current_user) %>
        <%= link_to "馬上私訊", find_or_create_chat_room_product_path(@product), class: "btn btn-success btn-lg" %>
      <% end %>
    </div>

  </div>
</div>

<script>
// COPY TO CLIPBOARD
// Attempts to use .execCommand('copy') on a created text field
// Falls back to a selectable alert if not supported
// Attempts to display status in Bootstrap tooltip
// ------------------------------------------------------------------------------

function copyToClipboard(text, el) {
  var copyTest = document.queryCommandSupported('copy');
  var elOriginalText = el.attr('data-original-title');

  if (copyTest === true) {
    var copyTextArea = document.createElement("textarea");
    copyTextArea.value = text;
    document.body.appendChild(copyTextArea);
    copyTextArea.select();
    try {
      var successful = document.execCommand('copy');
      var msg = successful ? '成功!' : 'Whoops, not copied!';
      el.attr('data-original-title', msg).tooltip('show');
    } catch (err) {
      console.log('Oops, unable to copy');
    }
    document.body.removeChild(copyTextArea);
    el.attr('data-original-title', elOriginalText);
  } else {
    // Fallback if browser doesn't support .execCommand('copy')
    window.prompt("Copy to clipboard: Ctrl+C or Command+C, Enter", text);
  }
}

$(document).ready(function() {
  // Initialize
  // ---------------------------------------------------------------------

  // Tooltips
  // Requires Bootstrap 3 for functionality
  $('.js-tooltip').tooltip();

  // Copy to clipboard
  // Grab any text in the attribute 'data-copy' and pass it to the
  // copy function
  $('.js-copy').click(function() {
    var text = $(this).attr('data-copy');
    var el = $(this);
    copyToClipboard(text, el);
  });
});
  $('.carousel').carousel({
      interval: false
  })
</script>
