<div class="mt-4 mb-4 row">
  <% if @product.attachments.present? %>
    <div class="col-md-6 mb-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @product.attachments.each_with_index do |attachment, index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @product.attachments.each_with_index do |attachment, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <%= image_tag(attachment.image.medium.url, class: "d-block w-100 product-image")%>
              </div>
            <% end %>
          </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  <% end %>

  <div class="col-md-6">

    <div class="product-description card mb-3">
      <div class="card-header">
        商品資訊
      </div>
      <div class="card-body">
        <%= render_product_type_badge(@product) %>
        <h2 class="d-inline-block"><%= @product.title %></h2>
        <div class="moto-category-container">
          <i class="fa fa-motorcycle"></i>
          <% @product.categories.each do |category| %>
            <div class="moto-category">
              <%= category.name %>
            </div>
          <% end %>
        </div>
        <hr>

        <ul>
          <li>
            <span class="text-muted">刊登日期： <%= @product.created_at.to_s(:ymd) %></span>
          </li>
          <li>
            <span class="text-muted">點閱次數：<%= @product.impressions_count %> 次</span>
          </li>
          <li>
            <span class="text-muted">賣家資訊: <%= link_to(@product.user.name, user_path(@product.user)) %></span>
          </li>
        </ul>

        <hr>

        <%= simple_format @product.description %>
      </div>
    </div>

    <div class="pull-right">
      <p class="lead">售價：<%= @product.price %> 元</p>

      <button type="button" id="js-btn-copy" class="btn btn-light" data-clipboard-text="<%= request.original_url %>">複製網址</button>

      <% if !@product.owner?(current_user) %>
        <%= link_to "馬上私訊", find_or_create_chat_room_product_path(@product), class: "btn btn-success btn-lg" %>
      <% end %>
    </div>

  </div>
</div>

<script>

// Tooltip

$('#js-btn-copy').tooltip({
  trigger: 'click',
  placement: 'bottom'
});

function setTooltip(message) {
  $('#js-btn-copy').tooltip('hide')
    .attr('data-original-title', message)
    .tooltip('show');
}

function hideTooltip() {
  setTimeout(function() {
    $('#js-btn-copy').tooltip('hide');
  }, 1000);
}

// Clipboard

var clipboard = new ClipboardJS('#js-btn-copy');

clipboard.on('success', function(e) {
  setTooltip('成功!');
  hideTooltip();
});

clipboard.on('error', function(e) {
  setTooltip('失敗!');
  hideTooltip();
});

  $('.carousel').carousel({
    interval: false
  })
</script>
