<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">iGai 愛改</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to("所有商品", products_path, class: "nav-link") %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item position-relative">
          <%= link_to user_path(current_user), class: "nav-link" do %>
            Hi, <%= current_user.name %>
            <%= image_tag(current_user.avatar.thumb.url, class: "navbar-avatar") if current_user.avatar.present? %>
          <% end %>
        </li>
          <li class="nav-item position-relative">
            <%= link_to(chat_rooms_path, class: "nav-link") do %>
              <i class="fa fa-comment"></i>
              <% if current_user.has_unread_messages? %>
                <span class="unread-badge">
                  <%= current_user.unread_messages_count %>
                </span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to("商品管理", account_products_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("登出", destroy_user_session_path, method: :delete, class: "nav-link") %>
          </li>
      <% else %>
          <li class="nav-item">
            <%= link_to("註冊", new_user_registration_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("登入", new_user_session_path, class: "nav-link") %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
